@page "/dataConnectors"
@using Newtonsoft.Json
@using ReportsWebApp.DB.Models
@inject DB.Services.ServiceContainer _serviceContainer

@if (connectors == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="no-borders visible">
        <DxFormLayout CssClass="no-borders">
            <DxFormLayoutGroup>
                <HeaderTemplate>
                    <ServerContextHeader Title="Data Connectors" BigTitle=true
                                         ShowServerPill="true"
                                         ShowCompanyPill="true"
                                         ShowReturnButton="@(!string.IsNullOrEmpty(_serviceContainer.ScopedAppStateService.BackPath))"
                                         ShowSaveButton="false" ShowCloseButton=false
                                         OnReturn="@NavigateTo" Servers="@availableServers"
                                         Companies="availableCompanies"
                                         OnSelectAllServers="SelectAllServers"
                                         OnSelectServer="SelectServer"
                                         OnSelectAllCompanies="SelectAllCompanies"
                                         OnSelectCompany="SelectCompany"
                                         SelectedServer="@selectedServer"
                                         SelectedCompany="@selectedCompany" />
                </HeaderTemplate>
                <Items>
                    <div class="toolbar bg-body pb-3" style="box-shadow: none;">
                        <DxButton Text="Bulk Changes" CssClass="toolbar-button"
                                  Attributes="@(new Dictionary<string, object> { ["title"] = " (Bulk Changes) " })"
                                  IconCssClass="fa-solid fa-envelopes-bulk" />
                    </div>
                    <DxGrid Data="@connectors"
                            EditMode="GridEditMode.PopupEditForm"
                            ShowFilterRow="true"
                            @ref="MyGrid"
                            PageSize="10"
                            CssClass="ch-480"
                            PagerPosition="GridPagerPosition.TopAndBottom"
                            PageSizeSelectorVisible="true"
                            PageSizeSelectorItems="@(new int[] { 10, 20, 100 })"
                            PageSizeSelectorAllRowsItemVisible="false"
                            PagerSwitchToInputBoxButtonCount="10"
                            PagerVisibleNumericButtonCount="10"
                            UnboundColumnData="Grid_CustomUnboundColumnData">
                        <Columns>
                            <DxGridCommandColumn Width="@CommonUtils.DxGridCommandToolbarStyleColumnWidth">
                                <HeaderTemplate>
                                    <DxButton IconCssClass="fa fa-plus px-2" CssClass="p-2 m-1" Text="Add" Click="() => ShowAdd()" />
                                </HeaderTemplate>
                                <CellDisplayTemplate Context="cellContext">
                                    @{
                                        var dataItem = (DataConnector)cellContext.DataItem;
                                    }
                                    <ActionDropdown DataItem="dataItem" Actions="Actions" />
                                </CellDisplayTemplate>
                            </DxGridCommandColumn>
                            <DxGridDataColumn FieldName="Name" Caption="Name" />
                            <DxGridDataColumn FieldName="Company.Name" UnboundType="GridUnboundColumnType.String" Caption="Company" />
                        </Columns>
                    </DxGrid>
                </Items>
            </DxFormLayoutGroup>
        </DxFormLayout>
    </div>
}

@if (editingConnector != null)
{
    <DxPopup @ref="EditDialog"
             @bind-Visible="ShowEditDialog"
             ShowCloseButton="true"
             HeaderText="Data Connector Editor"
             Closed="@EditorClosed"
             Width="600px"
             style="padding: 24px">
        <BodyContentTemplate Context="_context">
            <DataConnectorEditor Model="editingConnector"
                                 Companies="availableCompanies.Where(a_company => a_company != AllCompaniesConst)"
                                 OnSave="SaveConnector" 
                                 OnPremCustomer="@(currentUser.Company.CompanyType == ECompanyType.OnPrem)"/>
        </BodyContentTemplate>
    </DxPopup>
}

<ConfirmationDialog @ref="Dialog" DefaultConfirmButtonStyle="ButtonRenderStyle.Danger"></ConfirmationDialog>

@code
{
    private static readonly CompanyServer AllServersConst = new() { Name = "All Servers" };
    private static readonly Company AllCompaniesConst = new() { Name = "All Companies" };

    private CompanyServer selectedServer = AllServersConst;
    private Company selectedCompany = AllCompaniesConst;

    private List<CompanyServer> availableServers = new() { AllServersConst };
    private List<Company> availableCompanies = new() { AllCompaniesConst };
    private List<DataConnector> connectors = null;

    private DxGrid MyGrid { get; set; }
    private ConfirmationDialog Dialog { get; set; }
    private DxPopup EditDialog { get; set; }

    private DataConnector? editingConnector = null;
    private bool ShowEditDialog { get; set; } = false;

    private User currentUser;
    private IEnumerable<ActionItem<DataConnector>> Actions;

    protected async override Task OnInitializedAsync()
    {
        currentUser = await _serviceContainer.UserService.GetCurrentUserAsync(AuthenticationStateProvider);
        if (!currentUser.IsAuthorizedFor(Permission.AdministrateServers))
        {
            NavigationManager.NavigateTo("/");
            return;
        }

        Actions = new List<ActionItem<DataConnector>>
        {
            new ActionItem<DataConnector>
            {
                ActionText = "Edit",
                IconCssClass = "fas fa-pencil-alt",
                Action = async dataItem => await ShowEditor(dataItem),
                ShouldActionButtonBeEnabled = (_) => true
            },
            new ActionItem<DataConnector>
            {
                ActionText = "Delete",
                IconCssClass = "fas fa-trash-alt",
                Action = async dataItem => await DeleteConnector(dataItem),
                ShouldActionButtonBeEnabled = (_) => true
            },
        };

        availableServers = await _serviceContainer.ServerManagerService.GetServersByManagingCompanyAsync(currentUser.CompanyId);
        availableServers.Insert(0, AllServersConst);

        availableCompanies = currentUser.AuthorizedCompanies.ToList();
        availableCompanies.Insert(0, AllCompaniesConst);

        selectedServer = _serviceContainer.ScopedAppStateService.Server ?? AllServersConst;

        ReloadConnectors();
    }

    private void NavigateTo()
    {
        NavigationManager.NavigateTo("/" + _serviceContainer.ScopedAppStateService.BackPath);
    }

    private void SelectAllServers()
    {
        selectedServer = AllServersConst;
        ReloadConnectors();
        StateHasChanged();
    }

    private void SelectAllCompanies()
    {
        selectedCompany = AllCompaniesConst;
        ReloadConnectors();
        StateHasChanged();
    }

    private void SelectServer(CompanyServer server)
    {
        selectedServer = server;
        ReloadConnectors();
        StateHasChanged();
    }

    private void SelectCompany(Company company)
    {
        selectedCompany = company;
        ReloadConnectors();
        StateHasChanged();
    }

    private void ReloadConnectors()
    {
        connectors = _serviceContainer.DataConnectorService
            .GetDataConnectorsForCompany(selectedCompany == AllCompaniesConst ? -1 : selectedCompany.Id);
    }

    protected override void OnAfterRender(bool firstRender)
    {
        HTUtils.Utils.UpdateGridStyling(MyGrid);
        base.OnAfterRender(firstRender);
    }

    private async Task DeleteConnector(DataConnector a_dataItem)
    {
        bool result = await Dialog.ConfirmOperation("Confirm", "Are you sure you would like to delete the specified Data Connector?");
        if (result)
        {
            _serviceContainer.DataConnectorService.DeleteDataConnector(a_dataItem.Id);
        }
        ReloadConnectors();
        StateHasChanged();
    }

    private async Task ShowEditor(DataConnector a_dataItem)
    {
        editingConnector = a_dataItem;
        ShowEditDialog = true;
        StateHasChanged();
    }

    private Task ShowAdd()
    {
        DataConnector newCon = new();
        newCon.Name = "New Data Connector";
        newCon.CompanyId = currentUser.CompanyId;
        return ShowEditor(newCon);
    }

    private void EditorClosed(PopupClosedEventArgs a_obj)
    {
        ShowEditDialog = false;
        editingConnector = null;
        StateHasChanged();
    }

    private async Task SaveConnector()
    {
        await _serviceContainer.DataConnectorService.SaveDataConnectorAsync(editingConnector);
        ReloadConnectors();
        EditorClosed(null);
    }

    private void Grid_CustomUnboundColumnData(GridUnboundColumnDataEventArgs e)
    {
        int id = Convert.ToInt32(e.GetRowValue("Id"));
        var item = connectors.Find(c => c.Id == id);

        if (item == null) return;

        e.Value = e.FieldName switch
        {
            "Company.Name" => item?.Company?.Name is not null ? item.Company.Name : "Unknown",
            _ => null
        };
    }
}
